<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECRM</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</head>
<style>

    body {
        background-color: #ffecec;
        height: 100vh;
    }

    .errorlist {
        color: red
    }
</style>

<body>
    <nav class="navbar navbar-expand-lg bg-danger p-3 sticky-top">
        <div class="container">
            <a class="navbar-brand text-white fw-bold" href="{% url 'home' %}">ECRM</a>
            <button class="navbar-toggler m-2 border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <form class="d-flex mx-4 p-2" role="search" method="post" action="{% url 'view_emp' %}">
                    {%csrf_token%}
                    <input class="form-control p-2" style="border: none;border-radius:20px 0  0 20px;" name="box"
                        placeholder=" Search Employee Here..">
                    <button class="btn btn-light" style="border: none;border-radius: 0 20px 20px 0;" type="submit">Search</button>
                </form>
                <ul class="navbar-nav ms-auto fs-6 fw-bold">
                    <li class="nav-item mx-2">
                        <a class="nav-link text-white text-center " href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link text-white text-center " href="{% url 'view_emp' %}"> List</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link text-white text-center " href="{% url 'add_emp' %}">Add</a>
                    </li>
                    
                    <li class="nav-item mx-2">
                        <a class="nav-link text-white text-center " href="{% url 'auth_logout' %}"> Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container d-flex justify-content-around w-50">
        {% if messages%}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger alert-dismissible fade show w-100" role="alert">
            <strong class="text-center">{{message}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>{%endif%}
        {% endfor %}
        {% endif %}
    </div>



    {%block body_block%}

    {%endblock%}
</body>

</html>