<!DOCTYPE html>
<html lang="en">
{% load static %}
{% include 'header.html' %}

<body>
    {% include 'navbar.html' %}

    <div class="d-flex justify-content-center">
        <form class="fs-6 fw-normal bg-light w-50 p-5" method="post">
                {%csrf_token%}
            <p class="fw-bold fs-3 ">Update Employee Details</p>
            <hr class="border border-danger border-3 opacity-75 w-25">

            <br>
            {{form.as_p}}
            <div class="d-flex justify-content-center ">
                <button type="submit" class="btn btn-danger mt-3">Update </button>

            </div>
        </form>
    </div>


</body>

</html>