{%extends 'base.html'%}
{%block body_block%}

<div class="container">

    <div class=" row d-flex justify-content-center mt-3 mt-lg-4">
        {%csrf_token%}

        <div class="col-lg-2 col-md-4 col-sm-12 col-12">
            <p class="fw-bold fs-3 text-start">Employee <br> Details</p><br>
        </div>

        <div class="col-lg-10 col-md-8 col-sm-12 col-12 d-flex justify-content-around">
            <div class="card text-center mt-3" style="width: 50%;">
                <div class="card-body mt-3">
                    <p class="card-title fs-3 fw-bold">{{data.name}}<span
                            class="card-text fs-5 fw-bolder text-secondary">&nbsp;({{data.department}})</span></p>
                    <p class="card-text">Email : {{data.email}}</p>
                    <p class="card-text">Age : {{data.age}}</p>
                    <p class="card-text">Phone : {{data.phone}}</p>
                    <p class="card-text">Salary : {{data.salary}}</p>
                    <a href="{% url 'view_emp' %}" class="btn btn-dark">Go Back</a>
                    <a href="{% url 'update_emp' data.id %}" class="btn btn-danger">Update</a>
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock%}