<!DOCTYPE html>
<html lang="en">

{% load static %}
{% include 'header.html' %}

<body>
    {% include 'navbar.html' %}

    <div class="container text-center">
        <p class="fw-bold fs-3  mt-5">Employee List</p><br>
        {%csrf_token%}
        <form class="d-flex m-5" role="search">
            <input class="form-control me-2" name="box">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <table class="table table-bordered">
            <thead class="table-dark ">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Email</th>
                    <th>View</th>
                    <th>Delete</th>
                </tr>
            </thead>

            {% for data in datas %}
            <tr class="text-start">
                <td class="text-center">{{data.id}}</td>
                <td class="">{{data.name}}</td>
                <td class="">{{data.department}}</td>
                <td class="">{{data.email}}</td>
                <td class="text-center">
                    <a href="{% url 'detail_emp' data.id %}" class="border-0  btn btn-success"> &nbsp;<i class="fa-solid fa-eye"></i>&nbsp;</a>
                </td>
                <td class="text-center">
                    <a href="{% url 'delete_emp' data.id %}" class="border-0  btn btn-danger"> &nbsp;<i class="fa-solid fa-trash"></i>&nbsp;</a>
                </td>
            </tr>
            {% endfor %}
    </div>

</body>

</html>