<!DOCTYPE html>
<html lang="en">

{% load static %}
{% include 'header.html' %}

<body>
    {% include 'navbar.html' %}

    <div class="container text-center">
        <p class="fw-bold fs-3  mt-5">Employee List</p><br>
        {%csrf_token%}
        <table class="table table-bordered">
            <thead class="table-dark ">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Salary</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Phone</th>
                    <th></th>
                </tr>
            </thead> 

            {% for data in datas %}
            <tr class="text-start">
                <td>{{data.id}}</td>
                <td class="">{{data.name}}</td>
                <td class="">{{data.department}}</td>
                <td class="">{{data.salary}}</td>
                <td class="">{{data.email}}</td>
                <td >{{data.age}}</td>
                <td class="">{{data.phone}}</td>
                <td>
                    <a href="submit" class="border-0 text-danger"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
    </div>

</body>

</html>