{%extends 'base.html'%}
{%block body_block%}
<div class="container">
    <div class="mt-3 mt-lg-4">
        <p class="fw-bold fs-3">Employee <br> Details</p><br>
    </div>
    <div class="row ">
        {%csrf_token%}
        <div class="col-lg-4 col-md-6 col-sm-6 d-flex justify-content-lg-end justify-content-sm-center">
            {%if data.profile_pic%}
            <img src="{{data.profile_pic.url}}" class="rounded-4" style="width: fit-content;height: 400px;"
                alt="Employee Profile">
            {%endif%}
        </div>
        <div class="col-lg-8 col-md-6 col-sm-6 d-flex justify-content-lg-start justify-content-sm-center">
            <div class="card rounded-4 border-0" style="width: fit-content;">
                <div class="row g-0 ">
                    <div class="card-body p-3 m-1">
                        <p class="card-title fs-3 fw-bold">{{data.name}}<span
                                class="card-text fs-5 fw-bolder text-secondary">&nbsp;({{data.department}})</span></p>
                        <p class="card-text">Email : {{data.email}}</p>
                        <p class="card-text">Age : {{data.age}}</p>
                        <p class="card-text">Phone : {{data.phone}}</p>
                        <p class="card-text">Salary : {{data.salary}}</p>
                        <a href="{% url 'view_emp' %}" class="btn btn-outline-dark mt-2">Go Back</a><br>
                        </a>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-dark mt-4" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            Remove &nbsp;<i class="fa-solid fa-trash"></i>
                        </button>
            
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Are sure you want to
                                            delete...!!! </h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <a href="{% url 'delete_emp' data.id %}" class="btn btn-danger">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'update_emp' data.id %}" class="btn btn-danger mt-4">Update &nbsp;<i
                                class="fa-solid fa-file-pen"></i></a>
                    </div>
                </div>
            </div>
        </ class="">
    </div>
</div>
</div>


{%endblock%}

<!-- <div class="card text-center" style="width: 50%;">
                    <div class=" mb-5 d-flex justify-content-center">
                        {%if data.profile_pic%}
                        <img src="{{data.profile_pic.url}}" class="rounded-4" style="width: fit-content;height: 50vh;"
                            alt="My image">
                        {%endif%}
                    </div>
                    <div class="card-body ">
                        <p class="card-title fs-3 fw-bold">{{data.name}}<span
                                class="card-text fs-5 fw-bolder text-secondary">&nbsp;({{data.department}})</span></p>
                        <p class="card-text">Email : {{data.email}}</p>
                        <p class="card-text">Age : {{data.age}}</p>
                        <p class="card-text">Phone : {{data.phone}}</p>
                        <p class="card-text">Salary : {{data.salary}}</p>
                        <a href="{% url 'view_emp' %}" class="btn btn-dark">Go Back</a>
                        <a href="{% url 'update_emp' data.id %}" class="btn btn-danger">Update</a>
                </div> -->