{%extends 'base.html'%}
{%block body_block%}

<div class="container text-center">
    <p class="fw-bold fs-3 text-decoration-underline mt-5">Employee List</p><br>
    <form class="d-flex mb-5" role="search" method="post">
        {%csrf_token%}
        <a class="btn btn-danger " href="{% url 'view_emp' %}">Refresh</a>
        <input class="form-control mx-2" name="box" value="{{name}}">
        <button class="btn btn-danger" type="submit">Search</button>
    </form>
    <style>
        .mycard_img {
            width: 90%;
            object-fit: cover;
            height: 400px;
            filter: grayscale(90%);
        }
    </style>
    <div class="container row">
        {% for data in datas %}

        <div class="col-lg-3 col-md-6 col-sm-6 mt-3 mycard  ">
            <a href="{% url 'detail_emp' data.id %}" class="text-decoration-none text-dark" >
                <div class=" mycard2 ">
                    {%if data.profile_pic%}

                    <img src="{{data.profile_pic.url}}" class=" mycard_img  img-fluid rounded-4" alt="Employee Profile">
                    {%endif%}
                </div>
                <div class="fs-5 fw-bold">{{data.name}}</div>
            </a>
        </div>

        {% endfor %}
    </div>



    <!-- <table class="table table-bordered ">
        <thead class="table-dark ">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Department</th>
                <th>Email</th>
                <th>View</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>

        {% for data in datas %}
        <tr class="text-start">
            <td class="text-center">{{data.id}}</td>
            <td class="">{{data.name}}</td>
            <td class="">{{data.department}}</td>
            <td class="">{{data.email}}</td>
            <td class="text-center bg-danger" style="width: 1%;">
                <a href="{% url 'detail_emp' data.id %}" class="border-0 text-white">
                    <i class="fa-solid fa-eye"></i></a>
            </td>
            <td class="text-center bg-danger" style="width: 1%;">
                <a href="{% url 'update_emp' data.id %}" class="border-0 text-white">
                    <i class="fa-solid fa-pen"></i></a>
            </td>
            <td class="text-center bg-danger" style="width: 1%;">
                <a href="{% url 'delete_emp' data.id %}" class="border-0 text-white">
                    <i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
    
        {% endfor %}
    </table> -->
</div>


{%endblock%}