{%extends 'base.html'%}
{%block body_block%}

<div class="container text-center">
    <div class=" d-flex justify-content-around mt-5 row">

        <a class="btn btn-danger m-5 w-25" href="{% url 'add_emp' %}">Add an Employee</a>
        <a class="btn btn-danger m-5 w-25" href="{% url 'view_emp' %}">View Employees</a>
        <a class="btn btn-danger m-5 w-25" href="{% url 'view_emp' %}">Update Employees</a>
        <a class="btn btn-danger m-5 w-25" href="{% url 'view_emp' %}">Delete Employees</a>

    </div>
</div>


{%endblock%}