{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECRM</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{%static 'css/login.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-danger p-3">
        <div class="container">
            <a class="navbar-brand text-white fw-bold" href="{% url 'auth_login' %}">ECRM</a>
            <button class="navbar-toggler m-2 border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            </div>
        </div>
    </nav>
    <div class="container d-flex justify-content-around w-50 mt-3">
        {% if messages%}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger alert-dismissible fade show w-100" role="alert">
            <strong class="text-center">{{message}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>{%endif%}
        {% endfor %}
        {% endif %}
    </div>

<div class=" d-flex justify-content-center">
    <form class="fs-6 fw-normal bg-light p-5 m-5 mt-2 rounded-3" style="width: 100%;" method="post" enctype="multipart/form-data">
        {%csrf_token%}

        <p class="fw-bold fs-3 ">Sign In</p>
        <hr class="border border-danger border-3 opacity-75 w-25">
        <br>
        {{form.as_p}}
        <div class="d-flex justify-content-center ">
            <button type="submit" class="btn btn-danger mt-3 w-50">Login</button>
        </div>
        
        <div class="text-center mt-3">
            <p> Or <br>
                Create a Account
            </p>
            <a href="{% url 'auth_signup' %}" class="btn btn-dark w-25">Register</a>
        </div>
    </form>
</div>
</body>
</html>