<nav class="navbar navbar-expand-lg bg-danger p-3">
    <div class="container  ">
        <a class="navbar-brand text-white fw-bold" href="{% url 'home' %}">ECRM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto fs-6 fw-bold mx-2">
                <li class="nav-item">
                    <a class="nav-link text-white text-center mx-3" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white text-center mx-3" href="{% url 'add_emp' %}">Add</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white text-center mx-3" href="{% url 'view_emp' %}"> List</a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>